<!-- TODO
      - Backdrop bei Ergebnissen sollte stretchen oder besser die kachel ausfüllen
      - code in Add-Component aufräumen/auslagern
-->

  <!-- TITLE START -->
<main class="bg-gray-800 w-full h-full flex flex-col">
  <div class="flex items-center mt-6">
    <h1 class="text-3xl font-semibold text-white ml-4 flex"> Add Movie </h1>
  </div>

  <div class="my-4"></div>
  <!-- TITLE END -->



  <!-- SEARCH BAR START -->
<!--  <app-search-bar
    (searchTermProvided)="handleGivenSearchTerm($event)"
  ></app-search-bar>-->
  <!-- SEARCH BAR END -->



  <div class="mb-8"></div>



  <!-- SEARCH RESULTS START -->
<!--  <ng-container *ngIf="searchResults !== undefined">
    <div *ngFor="let result of searchResults" class="flex w-full items-center justify-center">

      <app-search-result
        (addToList)="handleAddToFavorites($event)"
      ></app-search-result>

    </div>

  </ng-container>-->
  <!-- SEARCH RESULTS END -->
</main>
