<div class="flex justify-center px-8">
  <div class="flex flex-col justify-center max-w-[800px]">
    <div class="py-8">
      <h1 class="text-2xl">Information according to § 5 TMG</h1>
      <div>
        <p class="py-4">
          Johannes Lenk <br/>
          Paracelsusstraße 34 <br/>
          90431 Nürnberg
        </p>
        <p>E-Mail: dev&#64;oebreme.de</p>
      </div>
    </div>

    <div class="py-8">
      <h1 class="text-2xl">Liability Notice</h1>
      <div>
        <p class="py-4">
          Despite careful content control, i assume no liability for the content of external links.
          The operators of the linked pages are solely responsible for their content.
        </p>
      </div>
    </div>
  </div>
</div>
