<!-- TODO
      - Searchbar kann mehrfach wiederverwendet werden und soll daher eine standalone component werden
      - Backdrop bei Ergebnissen sollte stretchen oder besser die kachel ausfüllen
      - code in Add-Component aufräumen/auslagern
-->

<main class="bg-gray-800 w-full h-full flex flex-col">
  <div class="flex items-center mt-6">
    <h1 class="text-3xl font-semibold text-white ml-4 flex"> Add Movie </h1></div>

  <div class="my-4"></div>

<div class="flex justify-center">
  <div class="relative">
    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
      <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
           fill="none" viewBox="0 0 20 20">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
      </svg>
    </div>
    <input
      type="search"
      placeholder="What do you want to watch?"
      class="text-sm px-12 input input-bordered w-full max-w-[90vw] min-w-[90vw]"
      (input)="inputSubject.next()"
      [(ngModel)]="userInput"
    />
  </div>
</div>
<div class="mb-8"></div>

  <ng-container *ngIf="isLoading">
    <div class="flex flex-col justify-center items-center">
      <span class="loading loading-spinner text-info" style="width: 5rem"></span>
    </div>
  </ng-container>

<ng-container *ngIf="list !== undefined">
  <div *ngFor="let result of list.results" class="flex w-full items-center justify-center">


    <div class="card w-96 bg-base-100 shadow-xl image-full w-full max-w-[90vw] min-w-[90vw] mb-8">
      <figure >
        <img [src]=buildImgUrl(result.backdrop_path) alt="Movies" style="background-size: cover" />
      </figure>
      <div class="card-body">
        <h2 class="card-title">{{result.title}}</h2>
        <p>{{result.overview}}</p>
        <div class="card-actions justify-end">
          <button class="btn btn-primary">Add to Favorites</button>
        </div>
      </div>
    </div>

  </div>

</ng-container>

<ng-container *ngIf="list !== undefined && list.results.length === 0">
  <div class="flex flex-col justify-center items-center">
    <h1 class="text-3xl font-semibold"> Keine Suchergebnisse für "{{userInput}}" </h1>
    <p>Bitte achte darauf, dass du alle Wörter richtig geschrieben hast,
      oder versuch es mit weniger oder anderen Suchbegriffen.</p>
  </div>

</ng-container>

</main>
