<main class="bg-gray-800 w-full h-fit flex flex-col">
  <h1 class="text-4xl text-white"> Favorites </h1>

  <div class="my-6"></div>

  <button [routerLink]="blob" class="mt-6 mx-2">
    <div class="card card-side bg-base-100 shadow-xl flex">
      <div class="ml-4 self-center">
        <svg xmlns="http://www.w3.org/2000/svg" height="56" viewBox="0 -960 960 960" width="56" fill="currentColor"><path d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z"/></svg>
      </div>


      <div class="card-body ">
        <h2 class="card-title">Add movies</h2>
      </div>


    </div>
  </button>




  <div class="my-6"></div>






    <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>

  <div class="flex flex-col mx-4 bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
    <h3 class="text-2xl text-white">Interstellar</h3>

    <div class="flex justify-end">
      <svg viewBox="0 0 15 15"
           height="3rem"
           fill="none"
           xmlns="http://www.w3.org/2000/svg"
           stroke="#ffffff">

        <path d="M6.76507 5.23486C6.06634 4.53613 4.93347 4.53613 4.23474
         5.23486C3.53601 5.9336 3.53601 7.06646 4.23474 7.7652L7.49991
          11.0304L10.7651 7.76519C11.4638 7.06646 11.4638 5.9336 10.7651
           5.23486C10.0663 4.53613 8.93347 4.53613 8.23474 5.23486L7.49991
            5.9697L6.76507 5.23486Z" fill="#ffffff">
        </path>
      </svg>
    </div>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Adventure
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Drama
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        Sci-Fi
      </li>
    </ul>

    <ul class="text-sm text-gray-600">
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        07.11.2014
      </li>
      <li class="inline-block relative pr-8 last:pr-0 last-of-type:before:hidden before:absolute before:top-1/2 before:right-3 before:-translate-y-1/2 before:w-1 before:h-1 before:bg-gray-300 before:rounded-full dark:text-gray-400 dark:before:bg-gray-600">
        2 h 49 m
      </li>
    </ul>
  </div>




</main>
