<h1 class="text-white text-3xl p-6 pb-16 font-semibold">movieSumo</h1>


<div class="pl-6 pb-12">
  <div class="text-2xl">settle movie nights without wrestling with your couch companion</div>
  <div class="text-2xl">save. find. share. your favorite movies</div>
</div>

<div class="flex flex-row">

  <div style="font-family: 'Segoe UI',sans-serif;" class="text-white flex flex-col justify-center">
    <h1 class="font-black" style="font-size: 368px; line-height: 255px">
      <span style="letter-spacing: -32px">M</span>
      <span style="letter-spacing: -44px">O</span>
      <span style="letter-spacing: -28px">V</span>
      <span style="letter-spacing: -48px">I</span>
      <span>E</span>
    </h1>
    <h1 class="font-black" style="font-size: 368px; line-height: 255px">
      <span style="letter-spacing: -32px">S</span>
      <span style="letter-spacing: -44px">U</span>
      <span style="letter-spacing: -32px">M</span>
      <span>O</span>
    </h1>
  </div>

  <div>
    <div class="h-[48rem] mx-16" style="width: 4px; background-color: white"></div>
  </div>

  <div class="p-16 text-white flex flex-col">
    <h1 style="font-size: 200px">LOGIN</h1>
    <button class="btn btn-accent self-center">Login</button>
  </div>

</div>
