<div class="max-w-[100vw] overflow-x-hidden">
  <div class="py-0 md:py-4 lg:pl-20 pl-8">
    <span class="text-3xl md:text-4xl lg:text-5xl xl:text-6xl text-main-gradient font-bold"> Home </span>
  </div>

  <moviesumo-trending [trendingMovies]="trendingMovies"
                      [isLoadingTrendingMovies]="isLoadingTrendingMovies">
  </moviesumo-trending>

  <div class="divider"></div>

  <moviesumo-upcoming [upcomingMovies]="upcomingMovies"
                      [isLoadingUpcomingMovies]="isLoadingUpcomingMovies">
  </moviesumo-upcoming>

</div>
