<div class="flex flex-row lg:px-20 px-8 lg:min-h-[80vh] pt-16 lg:pt-0">


  <div class="flex flex-col justify-center">
    <h2 class="lg:text-2xl text-lg font-bold text-main-gradient min-w-[400px] min-h-[68px] flex items-center">SAVE, FIND, SHARE</h2>

    <h1 class="lg:text-7xl text-5xl font-bold text-white">your favorite <br>
      movies
    </h1>

    <p class="lg:text-2xl text-lg text-white lg:mt-24 mt-12">settle movie nights without wrestling with your <br>
      couch companion
    </p>
  </div>


  <!--
  <div class="px-96 flex justify-center">
    <div class="text-white lg:flex flex-col justify-center hidden" style="font-family: 'Segoe UI',sans-serif;">
      <h1 class="font-black" style="font-size: 368px; line-height: 255px">
        <span style="letter-spacing: -32px">M</span>
        <span style="letter-spacing: -44px">O</span>
        <span style="letter-spacing: -28px">V</span>
        <span style="letter-spacing: -48px">I</span>
        <span>E</span>
      </h1>
      <h1 class="font-black" style="font-size: 368px; line-height: 255px">
        <span style="letter-spacing: -32px">S</span>
        <span style="letter-spacing: -44px">U</span>
        <span style="letter-spacing: -32px">M</span>
        <span>O</span>
      </h1>
    </div>
  </div>
  -->


</div>
