<main class="bg-gray-800 w-full h-full flex flex-col justify-center">
  <div class="text-left ml-8">
    <h1 class="mt-1 sm:mb-3 text-5xl font-bold text-white sm:text-6xl">
      <span class="bg-clip-text bg-gradient-to-tr from-blue-600 to-purple-400 text-transparent">movieSumo</span>
    </h1>
    <h4 class="text-xl text-white">
    Keep track of your favorite movies
    </h4>

    <div class="my-16 mr-8 text-center">
      <button type="button"
              class="w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
              routerLink="/sign-up">
        Sign Up for Free
      </button>

      <div class="mt-2">
        <small class="text-gray-500">Already have an account?</small>
        <button type="button"
                class="w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                routerLink="/home">
          Log in
        </button>
      </div>
    </div>
  </div>
</main>
