
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$movie-sumo-ui-primary: mat.define-palette(mat.$indigo-palette);
$movie-sumo-ui-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$movie-sumo-ui-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$movie-sumo-ui-theme: mat.define-light-theme((
  color: (
    primary: $movie-sumo-ui-primary,
    accent: $movie-sumo-ui-accent,
    warn: $movie-sumo-ui-warn,
  ),
  typography: mat.define-typography-config('kollektif", "Roboto", sans-serif'),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($movie-sumo-ui-theme);

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "kollektif", "Roboto", sans-serif;
    color: white !important;
  }
  moviesumo-header a {
    & {
      transition: color 1s;
      @apply text-xl;
    }

    &:hover {
      transition: color 0.5s;
      @apply text-[#F69159];
    }
  }
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/kollektif.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/kollektif-bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/kollektif-bolditalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Kollektif';
  src: url('./assets/fonts/kollektif-italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

.bg-base-alt {
  @apply bg-[#202126];
}

.bg-base-alt-white {
  @apply bg-[#F9FAFB];
}

.main-gradient {
  @apply bg-gradient-to-r;
  @apply from-[#F69159];
  @apply to-[#C43364];
}

.text-main-gradient {
  background-image: linear-gradient(to right, #F69159, #C43364);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
