<main class="bg-gray-800 w-full h-full flex flex-col">
  <h1 class="text-4xl text-white"> Dashboard </h1>

  <div class="my-4"></div>

  <div routerLink="/list" class="flex flex-row bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">

    <div class="bg-amber-300 flex self-center min-w-[4rem] min-h-[4rem] mx-2">
    </div>

    <div class="py-4 pl-2">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white">
        Favorites
      </h3>
      <p class="mt-1 text-xs text-gray-500 dark:text-gray-500">
        41 Movies
      </p>
    </div>

  </div>


  <div class="my-6">
  </div>


  <div class="flex flex-row bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">

    <div class="bg-green-700 flex self-center min-w-[4rem] min-h-[4rem] mx-2">
    </div>

    <div class="py-4 pl-2">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white">
        List 1
      </h3>
      <p class="mt-1 text-xs text-gray-500 dark:text-gray-500">
        0 Movies
      </p>
    </div>

  </div>


  <div class="my-2">
  </div>


  <div class="flex flex-row bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">

    <div class="bg-blue-900 flex self-center min-w-[4rem] min-h-[4rem] mx-2">
    </div>

    <div class="py-4 pl-2">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white">
        List 2
      </h3>
      <p class="mt-1 text-xs text-gray-500 dark:text-gray-500">
        13 Movies
      </p>
    </div>

  </div>

  <div class="my-2">
  </div>


  <div class="flex flex-row bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">

    <div class="bg-teal-400 flex self-center min-w-[4rem] min-h-[4rem] mx-2">
    </div>

    <div class="py-4 pl-2">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white">
        List 3
      </h3>
      <p class="mt-1 text-xs text-gray-500 dark:text-gray-500">
        1 Movie
      </p>
    </div>

  </div>


  <div class="my-2">
  </div>


  <div class="flex flex-row bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">

    <div class="bg-blue-300 flex self-center min-w-[4rem] min-h-[4rem] mx-2">
    </div>

    <div class="py-4 pl-2">
      <h3 class="text-2xl font-bold text-gray-800 dark:text-white">
        List 4
      </h3>
      <p class="mt-1 text-xs text-gray-500 dark:text-gray-500">
        5 Movies  -  Shared in "Group 1"
      </p>
    </div>

  </div>

</main>
