<div class="flex justify-center px-8">
  <div class="flex flex-col justify-center max-w-[800px]">
    <h1 class="text-3xl">Privacy Policy</h1>

    <p class="pt-4 text-xs">Effective Date: 13.06.2024</p>

    <div class="py-8">
      <h2 class="text-2xl">Introduction</h2>
      <div>
        <p class="py-4">
          The following notes provide a simple overview of what happens to your personal data when you
          visit this website. Personal data includes all data that can personally identify you.
          Detailed information on data protection can be found in our privacy policy listed below this text.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Data Controller and Contact Information</h2>
      <div>
        <p class="py-4">The data controller responsible for processing your personal data is:</p>
        <p class="py-4">
          Johannes Lenk <br/>
          Paracelsusstraße 34 <br/>
          90431 Nürnberg
        </p>
        <p class="pb-4"><span class="font-bold">E-Mail:</span> dev&#64;oebreme.de</p>
        <p class="py-4">
          If you have any questions or concerns about this Privacy Policy or our data practices,
          please contact us using the provided contact information.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Information We Collect</h2>
      <div>
        <p class="py-4">
          Personal Information: We may collect personal information such as your name, email address,
          and contact details when you voluntarily provide this information through contact forms,
          login or other means on our homepage.
        </p>
        <p class="py-4">
          Automatically Collected Information: When you visit our homepage, we may automatically collect
          certain information about your device, such as your IP address, browser type, and operating system.
          We may also collect information about your browsing behavior and interactions with our website using
          cookies and similar technologies.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Purpose and Legal Basis for Processing</h2>
      <div>
        <p class="py-4">
          We will process your personal information for the following purposes and based on the following legal bases:
        </p>
        <p class="py-4">
          To Respond to Your Inquiries: We will use your contact information to respond to your inquiries and provide
          you with the information or services you have requested.
          The legal basis for this processing is our legitimate interest in communicating with our website visitors.
        </p>
        <p class="py-4">
          To Process Your Orders: We may use your personal information to process your orders and fulfill your orders.
          The legal basis for this processing is our legitimate interest in processing your orders.
        </p>
        <p class="py-4">
          To Improve Our Services: We may use the information collected through cookies and similar technologies
          to analyze and improve the performance and functionality of our homepage. The legal basis for
          this processing is our legitimate interest in enhancing our website and user experience.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Data Sharing and Disclosures</h2>
      <div>
        <p class="py-4">We may share your personal information with third parties in the following circumstances:</p>
        <p class="py-4">
          Service Providers: We may engage third-party service providers to perform functions on our behalf, such as
          website hosting, payment processing, data analysis, and customer support. These service providers will have
          access to your personal information solely for the purpose of performing their services and must maintain
          the confidentiality of your data.
        </p>
        <p class="py-4">
          Legal Compliance: We may disclose your personal information if required by law or to protect our rights,
          privacy, safety, or property.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Data Transfers</h2>
      <div>
        <p class="py-4">
          As a this website is based in Germany, we may transfer your personal information to countries outside the
          European Economic Area (EEA). In such cases, we will ensure that appropriate safeguards are in place to
          protect your data, such as Standard Contractual Clauses or obtaining your explicit consent.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Data Retention</h2>
      <div>
        <p class="py-4">
          We will retain your personal information for as long as necessary to fulfill the purposes outlined in
          this Privacy Policy, or as required by law. When your personal data is no longer needed, we will
          securely delete or anonymize it.
        </p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Your Rights</h2>
      <div>
        <p class="py-4">You have the following rights regarding your personal information:</p>

        <p class="py-2">Access: You have the right to access the personal information we hold about you.</p>
        <p class="py-2">Rectification: You may request the correction of inaccurate or incomplete personal data.</p>
        <p class="py-2">Erasure: You can request the deletion of your personal information under certain conditions.</p>
        <p class="py-2">Restriction: You have the right to restrict the processing of your personal data in certain
          situations.</p>
        <p class="py-2">Objection: You may object to the processing of your personal information based on our legitimate
          interests.</p>
        <p class="py-2">Data Portability: You can request to receive your personal data in a structured, commonly used,
          and machine-readable format.</p>
        <p class="py-2">To exercise your rights or make any privacy-related requests, please contact us using the
          provided contact information.</p>
      </div>
    </div>

    <div class="py-8">
      <h2 class="text-2xl">Changes to this Privacy Policy</h2>
      <div>
        <p class="pt-4 pb-32">
          We may update this Privacy Policy from time to time to reflect changes in our data practices or legal
          requirements. We encourage you to review this page periodically for any updates. The date of the last
          revision will be indicated at the beginning of the policy.</p>
      </div>
    </div>
  </div>
</div>
